*{
  font-family: "Bai Jamjuree";
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@media (max-width: 767px) {
  .mediascreenmob{
    padding: 30px 0px;
  }
}